<section class="section">
    <div class="container ">
        <div class="columns is-gapless is-multiline">
            <div class="column is-half box">
                <div class="">
                    <div class="card-content">
                        <header class="title">
                            <p class="title card-header-title">
                              {{ .Get "title" }}
                            </p>
                            
                          </header>
                      <div class="content">
                        {{ .Get "content" }}
                      </div>
                    </div>
                  </div>
            </div>
            <div class="column is-half ">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="{{ .Get "image" }}" alt="Placeholder image">
                      </figure>
                    </div>
                  </div>
            </div>
            
          </div>
    </div>
</section>