{{ define "main" }}


<section class="hero">
    {{ if .Params.hero }}  
    {{ range .Params.hero}}
 <div class="hero-body">
    <div class="title has-text-centered">
        {{ .title }}
    </div>

    <div class="subtitle is-size-5 has-text-centered">
        {{ .subtitle }}
    </div>
    <figure class="image">
        <img src="{{ .image }}">
      </figure>
 </div>
 {{end}}
 {{end}}
</section>

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <p class="has-text-centered">Create, edit, visualise, analyse and publish geospatial information on Windows, Mac, Linux, BSD and mobile devices</p>
            <p>For your desktop, server, in your web browser and as developer libraries </p>
            <div class="column is-half">
                <div class="buttons">
                    <button class="button is-info">Info</button>
                   
                  </div> 
            </div>
            <div class="column is-half">
                <div class="buttons">
                    <button class="button is-info">Info</button>
                   
                  </div> 
            </div>
        </div>
    </div>
</section>
{{ .Content }}


{{ end }}